* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: "Work Sans", sans-serif;
}

main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}
h1 {
  font-family: "Fjalla One", sans-serif;
}

form {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 100px;
}

fieldset {
  padding: 15px;
  border: 1px solid #cccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}

.logo {
  width: 100px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccc;
  border-radius: 5px;
}
textarea {
  min-height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input[type="color"] {
  width: 40px;
  padding: 0 5px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}
input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
}

input:valid,
select:valid,
textarea:valid {
  border-color: rgb(9, 255, 0);
}

button {
  width: 100px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid #cccc;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #adff2f;
  color: #f9f9f9;
}

button[type="reset"]:hover {
  background-color: rgb(238, 0, 0);
  color: #f9f9f9;
}

.sucessoDeEnvio {
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  margin-top: 10px;
  color: #9dcf51;
}
