* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: "Work Sans", sans-serif;
}

main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}
h1 {
  font-family: "Fjalla One", sans-serif;
}

form {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

fieldset {
  padding: 15px;
  border: 1px solid #cccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}

.logo {
  width: 100px;
}
